#chạy lệnh này để cài toàn bộ thư viện bên dưới:
#python -m pip install -r requirements.txt
cryptography       
numpy
fastapi[standard]
pgvector
psycopg2-binary

uvicorn
insightface
opencv-python
pydantic
python-multipart
onnxruntime-gpu